    body {
        font-family: "Helvetica", "Arial", sans-serif;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        text-align: center;
        background-color: #c0c0c0;
    }

    .square {
        height: 25px;
        width: 25px;
        background-color: gray;
        float: left;
        text-align: center;
        /*line-height: 1.5em;*/
        border-top: 2px solid white;
        border-left: 2px solid #c0c0c0;
        border-right: 2px solid #3b3b3b;
        border-bottom: 2px solid black;
    }

    #board {
        height: 145px;
        width: 145px;
        background-color: darkgrey;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    #outer-board {
        background-color: darkgrey;
        height: 210px;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 3px solid white;
        border-right: 3px solid #ededed;
        border-left: 3px solid #3b3b3b;
        border-top: 3px solid black;
    }

    #top-panel {
        position: relative;
        width: 165px;
        height: 30px;
        background-color: lightgray;
        margin: 5px;
        border-top: 2px solid white;
        border-left: 2px solid #c0c0c0;
        border-right: 2px solid #3b3b3b;
        border-bottom: 2px solid black;
    }

    .bomb {
        background-color: red;
        background-image: url("bombimage.png");
        background-size: 100%;
    }

    .marked {
        background-image: url("flag.png");
        background-size: 100%;
    }

    #bombs-left {
        position: relative;
        float: left;
        height: 20px;
        width: 40px;
        margin: 5px;
        background-color: maroon;
        color: red;
        font-size: 1em;
        border: 1px solid red;
    }

    #timer {
        position: relative;
        float: right;
        height: 20px;
        width: 40px;
        margin: 5px;
        background-color: maroon;
        color: red;
        font-size: 1em;
        border: 1px solid red;
    }

    .number {
        background-color: lightgray;
    }

    .number1 {
        background-color: lightgray;
        color: blue;
    }

    .number2 {
        background-color: lightgray;
        color: green;
    }

    .number3 {
        background-color: lightgray;
        color: red;
    }

    .number4 {
        background-color: lightgray;
        color: purple;
    }

    .number5 {
        background-color: lightgray;
        color: maroon;
    }

    p {
        font-size: .8em;
        line-height: 0em;
    }

    #restart {
        display: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        padding: .5em;
    }

    a {
        text-decoration: none;
    }